.video-container{
  width: 100%;
  height: 100%;
}

header{
  z-index: -5;
  pointer-events: none;
}

.content{
  z-index: 1;
}

.clicker {
  display: block;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 20%; 
  height: 20%;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.magasin {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 65%;
  width: 20%; 
  height: 20%;
}

.jeu_bouton{
  margin-top: 30%;
  font-family: 'Yeon Sung', cursive;
  font-size: 120%;
  display: block;
  background-color: #6157f5;
  text-align: center;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}